page {
  font-size: 28rpx;
  color: #333333;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  height: 100%;
}

//隐藏scroll-view的滚动条
::-webkit-scrollbar {
  display: none;
}

view {
  line-height: 1.8;
}

text {
  line-height: 1.4;
}

ul {
  list-style: none;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
  box-sizing: border-box;
}
