.font-blue {
  color: #2196f3;
}

.font-pink {
  color: #F06292;
}

.font-blue-deep {
  color: #1565c0;
}

.font-orange {
  color: #ff9800;
}

.font-black {
  color: #333;
}

.blue600 {
  color: #1e88e5;
}

.blue700 {
  color: #1976d2;
}

.blue800 {
  color: #1565c0;
}

.blue900 {
  color: #0d47a1;
}

.pwa-theme-color {
  color: #66BB6A;
}

.red.darken-1 {
  color: #E53935;
}

.font-white {
  color: #fff;
}
