.ml-0 {
  margin-left: 0;
}

.ml-2px {
  margin-left: 2px;
}

.ml-3px {
  margin-left: 3px;
}

.mx-5px {
  margin-left: 5px;
  margin-right: 5px;
}

.ml-5px {
  margin-left: 5px;
}

.mt-5px {
  margin-top: 5px;
}

.mr-5px {
  margin-right: 5px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-8px {
  margin-bottom: 8px;
}

.mr-10px {
  margin-right: 10px;
}

.mr-20px {
  margin-right: 20px;
}

.mr-30px {
  margin-right: 30px;
}

.mr-35px {
  margin-right: 35px;
}

.mr-60px {
  margin-right: 60px;
}

.mr-100px {
  margin-right: 100px;
}

.ml-10px {
  margin-left: 10px;
}

.mt-10px {
  margin-top: 10px;
}

.mt-20px {
  margin-top: 20px;
}

.mt-30px {
  margin-top: 30px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-50px {
  margin-top: 50px;
}

.mt-80px {
  margin-top: 80px;
}

.mt-100px {
  margin-top: 100px;
}

.mt-150px {
  margin-top: 150px;
}

.ml-30px {
  margin-left: 30px;
}

.ml-50px {
  margin-left: 50px;
}
