.pt-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.pt-2px {
  padding-top: 2px;
}

.pa-4px {
  padding: 4px;
}

.pl-4px {
  padding-left: 4px;
}

.pb-4px {
  padding-bottom: 4px;
}

.py-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px-5px {
  padding-left: 5px;
  padding-right: 5px;
}

.pt-5px {
  padding-top: 5px;
}

.pt-10px {
  padding-top: 10px;
}

.pb-10px {
  padding-bottom: 10px;
}

.pb-15px {
  padding-bottom: 15px;
}

.pr-10px {
  padding-right: 10px;
}

.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15px {
  padding-left: 15px;
  padding-right: 15px;
}

.pl-15px {
  padding-left: 15px;
}

.pb-20px {
  padding-bottom: 20px;
}

.px-20px {
  padding-left: 20px;
  padding-right: 20px;
}

.pt-100px {
  padding-top: 100px;
}

.pb-55px {
  padding-bottom: 55px;
}
