.t-20px {
  top: 20px;
}

.l-0 {
  left: 0;
}

.l-15px {
  left: 15px;
}

.r-15px {
  right: 15px;
}

.b-60px {
  bottom: 60px;
}

.b-45px {
  bottom: 45px;
}

.b-30px {
  bottom: 30px;
}

.b-20px {
  bottom: 20px;
}
.b-10px {
  bottom: 10px;
}
.b-15px {
  bottom: 15px;
}

.bottom-0 {
  bottom: 0;
}

.topRight {
  top: 0;
  right: 0;
}
