.size14 {
  width: 14px;
  min-width: 14px;
  height: 14px;
  min-height: 14px;
}

.size16 {
  height: 16px;
  width: 16px;;
}

.size18 {
  height: 18px;
  width: 18px;;
}

.size20 {
  height: 20px;
  width: 20px;;
}

.size22 {
  height: 22px;
  width: 22px;;
}

.size24 {
  height: 24px;
  width: 24px;;
}

.size30 {
  height: 30px;
  width: 30px;;
}

.size40 {
  height: 40px;
  width: 40px;
}

.size46 {
  height: 46px;
  width: 46px;
}

.size50 {
  height: 50px;
  width: 50px;
}

.size65 {
  height: 65px;
  width: 65px;
}

.size90 {
  height: 90px;
  width: 90px;
}

.size180 {
  height: 180px;
  width: 180px;
}

.size185 {
  height: 185px;
  width: 185px;
}

.size190 {
  height: 190px;
  width: 190px;
}

.size200 {
  height: 200px;
  width: 200px;
}

