.w30vw {
  width: 30vw;
}

.w35vw {
  width: 30vw;
}

.w40r {
  width: 40%;
}

.w50r {
  width: 50%;
}

.w60r {
  width: 60%;
}

.w70r {
  width: 70%;
}

.w50vw {
  width: 50vw;
}

.w60vw {
  width: 60vw;
}

.w65vw {
  width: 65vw;
}

.w70px {
  width: 70px;
}

.w70vw {
  width: 70vw;
}

.w80vw {
  width: 80vw;
}

.w94vw {
  width: 94vw;
}

.w180px {
  width: 180px;
}
