.q-bar {
  @extend .row-between-center;
  @extend .px;
  @extend .py-sm;
  @extend .bg-white;
  min-height: 100rpx;
}

.q-bar + .q-bar {
  @extend .q-solid-top;
}

.q-popup > .q-bar {
  @extend .q-solid-bottom;
}

.q-bar-content {
  @extend .row-col-center;
}

.q-bar-content > * + * {
  @extend .ml-sm;
}

.q-bar + .q-bar {
  @extend .q-solid-top;
}


/* ==================
          操作条
 ==================== */

.q-bar .action {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  max-width: 100%;
}

.q-bar .action.border-title {
  position: relative;
  top: -10upx;
}

.q-bar .action.border-title text[class*="bg-"]:last-child {
  position: absolute;
  bottom: -0.5rem;
  min-width: 2rem;
  height: 6upx;
  left: 0;
}

.q-bar .action.sub-title {
  position: relative;
  top: -0.2rem;
}

.q-bar .action.sub-title text {
  position: relative;
  z-index: 1;
}

.q-bar .action.sub-title text[class*="bg-"]:last-child {
  position: absolute;
  display: inline-block;
  bottom: -0.2rem;
  border-radius: 6upx;
  width: 100%;
  height: 0.6rem;
  left: 0.6rem;
  opacity: 0.3;
  z-index: 0;
}

.q-bar .action.sub-title text[class*="text-"]:last-child {
  position: absolute;
  display: inline-block;
  bottom: -0.7rem;
  left: 0.5rem;
  opacity: 0.2;
  z-index: 0;
  text-align: right;
  font-weight: 900;
  font-size: 36upx;
}

.q-bar.justify-center .action.border-title text:last-child,
.q-bar.justify-center .action.sub-title text:last-child {
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.q-bar .action:first-child {
  margin-left: 30upx;
  font-size: 30upx;
}

.q-bar .action text.text-cut {
  text-align: left;
  width: 100%;
}

.q-bar .q-avatar:first-child {
  margin-left: 20upx;
}

.q-bar .action:first-child > text[class*="cuIcon-"] {
  margin-left: -0.3em;
  margin-right: 0.3em;
}

.q-bar .action:last-child {
  margin-right: 30upx;
}

.q-bar .action > text[class*="cuIcon-"],
.q-bar .action > view[class*="cuIcon-"] {
  font-size: 36upx;
}

.q-bar .action > text[class*="cuIcon-"] + text[class*="cuIcon-"] {
  margin-left: 0.5em;
}

.q-bar .content {
  position: absolute;
  text-align: center;
  width: calc(100% - 340upx);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 60upx;
  font-size: 32upx;
  line-height: 60upx;
  cursor: none;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.q-bar.ios .content {
  bottom: 7px;
  height: 30px;
  font-size: 32upx;
  line-height: 30px;
}

.q-bar.btn-group {
  justify-content: space-around;
}

.q-bar.btn-group button {
  padding: 20upx 32upx;
}

.q-bar.btn-group button {
  flex: 1;
  margin: 0 20upx;
  max-width: 50%;
}

.q-bar .search-form {
  background-color: #f5f5f5;
  line-height: 64upx;
  height: 64upx;
  font-size: 24upx;
  color: #333333;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 30upx;
}

.q-bar .search-form + .action {
  margin-right: 30upx;
}

.q-bar .search-form input {
  flex: 1;
  padding-right: 30upx;
  height: 64upx;
  line-height: 64upx;
  font-size: 26upx;
  background-color: transparent;
}

.q-bar .search-form [class*="cuIcon-"] {
  margin: 0 0.5em 0 0.8em;
}

.q-bar .search-form [class*="cuIcon-"]::before {
  top: 0upx;
}

.q-bar.fixed,
.nav.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1024;
  box-shadow: 0 1upx 6upx rgba(0, 0, 0, 0.1);
}

.q-bar.foot {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1024;
  box-shadow: 0 -1upx 6upx rgba(0, 0, 0, 0.1);
}

.q-bar.footer {
  box-shadow: 0 -1upx 6upx rgba(0, 0, 0, 0.1);
}

.q-bar.tabbar {
  padding: 0;
  height: calc(100upx + env(safe-area-inset-bottom) / 2);
  padding-bottom: calc(env(safe-area-inset-bottom) / 2);
}

.q-tabbar-height {
  min-height: 100upx;
  height: calc(100upx + env(safe-area-inset-bottom) / 2);
}

.q-bar.tabbar.shadow {
  box-shadow: 0 -1upx 6upx rgba(0, 0, 0, 0.1);
}

.q-bar.tabbar .action {
  font-size: 22upx;
  position: relative;
  flex: 1;
  text-align: center;
  padding: 0;
  display: block;
  height: auto;
  line-height: 1;
  margin: 0;
  background-color: inherit;
  overflow: initial;
}

.q-bar.tabbar.shop .action {
  width: 140upx;
  flex: initial;
}

.q-bar.tabbar .action.add-action {
  position: relative;
  z-index: 2;
  padding-top: 50upx;
}

.q-bar.tabbar .action.add-action [class*="cuIcon-"] {
  position: absolute;
  width: 70upx;
  z-index: 2;
  height: 70upx;
  border-radius: 50%;
  line-height: 70upx;
  font-size: 50upx;
  top: -35upx;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
}

.q-bar.tabbar .action.add-action::after {
  content: "";
  position: absolute;
  width: 100upx;
  height: 100upx;
  top: -50upx;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 -3upx 8upx rgba(0, 0, 0, 0.08);
  border-radius: 50upx;
  background-color: inherit;
  z-index: 0;
}

.q-bar.tabbar .action.add-action::before {
  content: "";
  position: absolute;
  width: 100upx;
  height: 30upx;
  bottom: 30upx;
  left: 0;
  right: 0;
  margin: auto;
  background-color: inherit;
  z-index: 1;
}

.q-bar.tabbar .btn-group {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10upx;
}

.q-bar.tabbar button.action::after {
  border: 0;
}

.q-bar.tabbar .action [class*="cuIcon-"] {
  width: 100upx;
  position: relative;
  display: block;
  height: auto;
  margin: 0 auto 10upx;
  text-align: center;
  font-size: 40upx;
}

.q-bar.tabbar .action .cuIcon-q-image {
  margin: 0 auto;
}

.q-bar.tabbar .action .cuIcon-q-image image {
  width: 50upx;
  height: 50upx;
  display: inline-block;
}

.q-bar.tabbar .submit {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  flex: 2;
  align-self: stretch;
}

.q-bar.tabbar .submit:last-child {
  flex: 2.6;
}

.q-bar.tabbar .submit + .submit {
  flex: 2;
}

.q-bar.tabbar.border .action::before {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: 0 0;
  border-right: 1upx solid rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.q-bar.tabbar.border .action:last-child:before {
  display: none;
}

.q-bar.input {
  padding-right: 20upx;
  background-color: #ffffff;
}

.q-bar.input input {
  overflow: initial;
  line-height: 64upx;
  height: 64upx;
  min-height: 64upx;
  flex: 1;
  font-size: 30upx;
  margin: 0 20upx;
}

.q-bar.input .action {
  margin-left: 20upx;
}

.q-bar.input .action [class*="cuIcon-"] {
  font-size: 48upx;
}

.q-bar.input input + .action {
  margin-right: 20upx;
  margin-left: 0upx;
}

.q-bar.input .action:first-child [class*="cuIcon-"] {
  margin-left: 0upx;
}

.q-custom {
  display: block;
  position: relative;
}

.q-custom .q-bar .content {
  width: calc(100% - 440upx);
}

/* #ifdef MP-ALIPAY */
.q-custom .q-bar .action .cuIcon-back {
  opacity: 0;
}

/* #endif */

.q-custom .q-bar .content image {
  height: 60upx;
  width: 240upx;
}

.q-custom .q-bar {
  min-height: 0px;
  /* #ifdef MP-WEIXIN */
  padding-right: 220upx;
  /* #endif */
  /* #ifdef MP-ALIPAY */
  padding-right: 150upx;
  /* #endif */
  box-shadow: 0upx 0upx 0upx;
  z-index: 9999;
}

.q-custom .q-bar .border-custom {
  position: relative;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 1000upx;
  height: 30px;
}

.q-custom .q-bar .border-custom::after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  transform: scale(0.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 1upx solid #ffffff;
  opacity: 0.5;
}

.q-custom .q-bar .border-custom::before {
  content: " ";
  width: 1upx;
  height: 110%;
  position: absolute;
  top: 22.5%;
  left: 0;
  right: 0;
  margin: auto;
  transform: scale(0.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  opacity: 0.6;
  background-color: #ffffff;
}

.q-custom .q-bar .border-custom text {
  display: block;
  flex: 1;
  margin: auto !important;
  text-align: center;
  font-size: 34upx;
}
