.bg-active:active {
  background-color: #eee !important;
}

.bg-default {
  background-color: #f1f1f1;
}

.bg-opacity {
  opacity: 0;
}

.bg-disabled {
  background-color: rgba(245, 206, 231, 0.12);
}

.bg-shadow {
  background: rgba(0, 0, 0, 0.3);
}

.bg-modal {
  background: rgba(0, 0, 0, 0.6);
}

.bg-transparent {
  background: rgba(0, 0, 0, 0);
}

.bg-half-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-red {
  background-color: #e54d42;
  color: #ffffff;
}

.bg-orange {
  background-color: #f37b1d;
  color: #ffffff;
}

.bg-white {
  background-color: #fff;
}

.bg-orange500 {
  background-color: #ff9800;
}

.bg-green-plain {
  color: #39b54a;
  background-color: #d1f0d7;
}

.bg-orange-plain {
  color: #f37b1d;
  background-color: #fde6d2;
}

.bg-yellow {
  background-color: #fbbd08;
  color: #333333;
}
.bg-yellow-light {
  background-color: #ffdd00;
  color: #333333;
}

.bg-olive {
  background-color: #8dc63f;
  color: #ffffff;
}

.bg-green {
  background-color: #39b54a;
  color: #ffffff;
}

.bg-green-light {
  background-color: #00C853;
  color: #ffffff;
}

.bg-orange-light {
  background-color: #ff9900;
  color: #ffffff;
}

.bg-cyan {
  background-color: #1cbbb4;
  color: #ffffff;
}

.bg-blue {
  background-color: #0081ff;
  color: #ffffff;
}

.bg-purple {
  background-color: #6739b6;
  color: #ffffff;
}

.bg-mauve {
  background-color: #9c26b0;
  color: #ffffff;
}

.bg-pink {
  background-color: #e03997;
  color: #ffffff;
}

.bg-brown {
  background-color: #a5673f;
  color: #ffffff;
}

.bg-grey {
  background-color: #8799a3;
  color: #ffffff;
}

.bg-grey.darken-3 {
  background-color: #4a4a4a;
  color: #ffffff;
}

.bg-gray {
  background-color: #f0f0f0;
  color: #333333;
}


.bg-black {
  background-color: #333333;
  color: #ffffff;
}

.bg-shadeTop {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.01));
  color: #ffffff;
}

.bg-shadeBottom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
  color: #ffffff;
}

.bg-red.light {
  color: #e54d42;
  background-color: #fadbd9;
}

.bg-orange.light {
  color: #f37b1d;
  background-color: #fde6d2;
}

.bg-yellow.light {
  color: #fbbd08;
  background-color: #fef2ced2;
}

.bg-olive.light {
  color: #8dc63f;
  background-color: #e8f4d9;
}

.bg-green.light {
  color: #39b54a;
  background-color: #d7f0dbff;
}

.bg-cyan.light {
  color: #1cbbb4;
  background-color: #d2f1f0;
}

.bg-blue.light {
  color: #0081ff;
  background-color: #cce6ff;
}

.bg-purple.light {
  color: #6739b6;
  background-color: #e1d7f0;
}

.bg-mauve.light {
  color: #9c26b0;
  background-color: #ebd4ef;
}

.bg-pink.light {
  color: #e03997;
  background-color: #f9d7ea;
}

.bg-brown.light {
  color: #a5673f;
  background-color: #ede1d9;
}

.bg-grey.light {
  color: #8799a3;
  background-color: #e7ebed;
}

.bg-gradual-red {
  background-image: linear-gradient(45deg, #f43f3b, #ec008c);
  color: #ffffff;
}

.bg-gradual-orange {
  background-image: linear-gradient(45deg, #ff9700, #ed1c24);
  color: #ffffff;
}

.bg-gradual-green {
  background-image: linear-gradient(45deg, #39b54a, #8dc63f);
  color: #ffffff;
}

.bg-gradual-purple {
  background-image: linear-gradient(45deg, #9000ff, #5e00ff);
  color: #ffffff;
}

.bg-gradual-pink {
  background-image: linear-gradient(45deg, #ec008c, #6739b6);
  color: #ffffff;
}

.bg-gradual-blue {
  background-image: linear-gradient(45deg, #0081ff, #1cbbb4);
  color: #ffffff;
}


.bg-gradual-qq {
  background-image: linear-gradient(135deg, #3dd0ff, #39a9ff);
  color: #ffffff;
}

.bg-gradual-wx {
  background-image: linear-gradient(135deg, #69F0AE, #00C853);
  color: #ffffff;
}

.bg-gradual-phone {
  background-image: linear-gradient(135deg, #FFCC80, #FFA726);
  color: #ffffff;
}

.bg-qq {
  background: #0bbafd;
  color: #ffffff;
}
