/*  -- 内外边距 -- */

.ma-0 {
  margin: 0;
}

.ma-xs {
  margin: 10rpx;
}

.ma-sm {
  margin: 20rpx;
}

.ma {
  margin: 30rpx;
}

.ma-lg {
  margin: 40rpx;
}

.ma-xl {
  margin: 50rpx;
}

.mt-xs {
  margin-top: 10rpx;
}

.mt-xss {
  margin-top: 14rpx;
}

.mt-sm{
  margin-top: 20rpx;
}

.mt {
  margin-top: 30rpx;
}

.mt-lg {
  margin-top: 40rpx;
}

.mt-xl {
  margin-top: 50rpx;
}
.mt-xl2 {
  margin-top: 100rpx;
}
.mr-mn {
  margin-right: 6rpx;
}
.mr-xs {
  margin-right: 10rpx;
}

.mr-sm {
  margin-right: 20rpx;
}

.mr {
  margin-right: 30rpx;
}

.mr-lg {
  margin-right: 40rpx;
}

.mr-xl {
  margin-right: 50rpx;
}

.mb-xs {
  margin-bottom: 10rpx;
}

.mb-sm {
  margin-bottom: 20rpx;
}

.mb {
  margin-bottom: 30rpx;
}

.mb-lg {
  margin-bottom: 40rpx;
}

.mb-xl {
  margin-bottom: 50rpx;
}

.ml-xs {
  margin-left: 10rpx;
}

.ml-sm {
  margin-left: 20rpx;
}

.ml {
  margin-left: 30rpx;
}

.ml-lg {
  margin-left: 40rpx;
}

.ml-xl {
  margin-left: 50rpx;
}

.mx-xs {
  margin-left: 10rpx;
  margin-right: 10rpx;
}

.mx-sm {
  margin-left: 20rpx;
  margin-right: 20rpx;
}

.mx {
  margin-left: 30rpx;
  margin-right: 30rpx;
}

.mx-lg {
  margin-left: 40rpx;
  margin-right: 40rpx;
}

.mx-xl {
  margin-left: 50rpx;
  margin-right: 50rpx;
}

.my-xs {
  margin-top: 10rpx;
  margin-bottom: 10rpx;
}

.my-sm {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

.my {
  margin-top: 30rpx;
  margin-bottom: 30rpx;
}

.my-lg {
  margin-top: 40rpx;
  margin-bottom: 40rpx;
}

.my-xl {
  margin-top: 50rpx;
  margin-bottom: 50rpx;
}
