.pa-0 {
  padding: 0;
}

.px-mn {
  padding-left: 6rpx;
  padding-right: 6rpx;
}

.pa-xs {
  padding: 10rpx;
}

.pa-sm {
  padding: 20rpx;
}

.pa {
  padding: 30rpx;
}

.pa-lg {
  padding: 40rpx;
}

.pa-xl {
  padding: 50rpx;
}
.pt-nn {
  padding-top: 4rpx;
}
.pt-mn {
  padding-top: 6rpx;
}
.pt-xs {
  padding-top: 10rpx;
}
.pt-xss {
  padding-top: 16rpx;
}
.pt-sm {
  padding-top: 20rpx;
}
.pt-10px {
  padding-top: 10px;
}
.pt-30px {
  padding-top: 30px;
}
.pt-70px {
  padding-top: 70px;
}
.pt {
  padding-top: 30rpx;
}

.pt-lg {
  padding-top: 40rpx;
}

.pt-xl {
  padding-top: 50rpx;
}

.pt-10 {
  padding-top: 80rpx;
}

.pr-xs {
  padding-right: 10rpx;
}

.pr-sm {
  padding-right: 20rpx;
}

.pr {
  padding-right: 30rpx;
}

.pr-lg {
  padding-right: 40rpx;
}

.pr-xl {
  padding-right: 50rpx;
}

.pb-xs {
  padding-bottom: 10rpx;
}

.pb-sm {
  padding-bottom: 20rpx;
}

.pb {
  padding-bottom: 30rpx;
}

.pb-lg {
  padding-bottom: 40rpx;
}

.pb-xl {
  padding-bottom: 50rpx;
}

.pb-xxl {
  padding-bottom: 80rpx;
}

.pl-xs {
  padding-left: 10rpx;
}

.pl-sm {
  padding-left: 20rpx;
}

.pl {
  padding-left: 30rpx;
}

.pl-lg {
  padding-left: 40rpx;
}

.pl-xl {
  padding-left: 50rpx;
}

.px-xs {
  padding-left: 10rpx;
  padding-right: 10rpx;
}

.px-sm {
  padding-left: 20rpx;
  padding-right: 20rpx;
}

.px {
  padding-left: 30rpx;
  padding-right: 30rpx;
}

.px-lg {
  padding-left: 40rpx;
  padding-right: 40rpx;
}

.px-xl {
  padding-left: 50rpx;
  padding-right: 50rpx;
}
.py-mn {
  padding-top: 6rpx;
  padding-bottom: 6rpx;
}
.py-xs {
  padding-top: 10rpx;
  padding-bottom: 10rpx;
}

.py-sm {
  padding-top: 20rpx;
  padding-bottom: 20rpx;
}

.py {
  padding-top: 30rpx;
  padding-bottom: 30rpx;
}

.py-lg {
  padding-top: 40rpx;
  padding-bottom: 40rpx;
}

.py-xl {
  padding-top: 50rpx;
  padding-bottom: 50rpx;
}
